html, body {
    height: 100%;
    background-color: white;
    color: black;
    font-family: 'Oswald', sans-serif;
}


/* ------------------------------------  thème ------------------------------------ */

.txt1 {
    color: red !important;
}

.bdc1 {
    border: 1px solid red !important;
    border-radius: 5px;
}

.bdcup1 {
    border-top: 1px solid red !important;
    box-shadow: 2px 2px 5px 2px rgba(255, 0, 0, 0.301);
}

.bg1 {
    background-color: red;
}

.sha1 {
    box-shadow: 2px 2px 5px 2px rgba(255, 0, 0, 0.301);
}

.bg2 {
    background-color: #101010;
}

.bl8 {
    backdrop-filter: blur(8px);
}


/* ------------------------------------  background ------------------------------------ */

#bgChu, #bgAjoutPatient {
    position: fixed;
    /* z-index: 50; */
    top: 0 !important;
    left: 0;
    filter: grayscale(80%);
}


/* ------------------------------------  bdd statut ------------------------------------ */

#bddStatut {
    z-index: 999;
    position: absolute;
    left: 0 !important;
    bottom: 50% !important;
    background-color: #404040;
    color: black;
}


/* ------------------------------------  navbar ------------------------------------ */

#navBar {
    position: fixed;
    z-index: 999;
    width: 100%;
    z-index: 99;
    top: 0;
    /* background-color: #9995 !important; */
    backdrop-filter: blur(8px) !important;
    border-bottom: 1px solid red !important;
    box-shadow: 2px 2px 5px 2px rgba(255, 0, 0, 0.301);
}

.nav-link {
    color: red !important;
}

.nav-item {
    font-size: 22px !important;
}

#hospitalLogo {
    max-height: 70px !important;
}


a, li {
    text-decoration: none !important;
    color: #999 !important ;
}

a:hover {
    border-radius: 5px !important;
    background-color: #40404040 !important;
    color: red !important;
}

li {
    list-style: none;
}


/* ------------------------------------  mainContent ------------------------------------ */

#mainContent {
    margin-top: 100px !important;
}


/* ------------------------------------  form ------------------------------------ */

input {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(255, 0, 0, 0.671) !important;
    background-color: #fff0 !important;
    color: #101010 !important;
}
::placeholder {
    color: #404040 !important;
}
input:focus {
    background-color: #fff0 !important;
}

.btn {
    border-radius: 5px !important;
    background-color: red !important;
    color: white !important;
}

.btn:hover {
    background-color: white !important;
    color: red !important;
}